.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-right > li > a:hover, .navbar-default .navbar-right > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #0CC7BF;
}

.navbar-default {
    background-color: #00b5ad;
    border-color: #00b5ad;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #00b5ad; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
    color: #DCFCFB; /*Change active text color here*/
}
.navbar-default .navbar-right > li > a {
    color: #DCFCFB; /*Change active text color here*/
}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar-right > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #0CC7BF;
    color:white;
}
.dropdown-menu {
    text-decoration: none;
    background-color: #0CC7BF;
}
.dropdown-menu > li > a{
    color: #DCFCFB;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: white;
    text-decoration: none;
    background-color: #00b5ad;
}
.pushable {
    overflow-x: visible;
}
.adduser{
    box-shadow:3px 3px 5px 3px #ccc;
    margin-top: 10px;
}
.addicon{
    width: 57px;
}
.usertypes{
    font-size:250%;
    font-family:initial;
    margin-bottom:3px;
    color:#455962;
    box-shadow:0px 2px 3px 2px #ccc;
    border-radius: 3px;
}



.contentbody{
    background-color: #F7F7F7;
}




/*Media Queries*/

@media screen and (max-width: 768px) {
   
    body{
        background: white;
    }


}

@media screen and (min-width: 768px) {
    

    body{
        background: red;
    }
}

@media screen and (min-width: 992px) {


    body{
        background: blue;
    }
}

@media screen and (min-width: 1200px) {
    


    body{
        background: green;
    }
}
/*End of Media Queries*/